.font {
  font-family: "Edu TAS Beginner", cursive;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.aboutme {
  padding-top: none;
}
section {
  padding-top: 2rem;
}

.footer {
  background-color: #e2edff;
}
